@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

body {
  background-image: url("/src/img/bg.png");
  background-size: 480px 270px;
  background-repeat: repeat;
}

.github-logo {
  transition: transform 0.3s ease-in-out;
}

.github-logo:hover {
  transform: scale(1.1) rotate(-45deg);
}

.svg-accent {
  filter: invert(83%) sepia(61%) saturate(427%) hue-rotate(5deg) brightness(95%)
    contrast(98%);
}
